/** ---------------------------------------- */

/** ------------GLOBAL STYLE------------ */

/** ---------------------------------------- */

:root {
    --main-cl: #111111;
    --accent-cl: #fd9222;
    --violet: #1e1823;
    --beige: #fcf1e0;
    --white-2: #fafafa;
    --gray: #4c4c4c;
    --white: #ffffff;
}
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--white-2);
    color: var(--main-cl);
    font-size: 14px;
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 600;
}
p {
    margin: 0;
    padding: 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
button {
    font-weight: 600;
}
a,
input,
button {
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}
a {
    text-decoration: none;
}

/** ---------------------------------------- */

/** ------------COMPONENTS STYLE------------ */

/** ---------------------------------------- */

.container {
    max-width: 1166px;
    margin: 0 auto;
    padding: 0 32px;
}
.header-two {
    color: var(--main-cl);
    text-align: center;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 412px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.header-accent {
    color: var(--accent-cl);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.menu-list {
    display: flex;
    gap: 24px;
}
.menu-item-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .menu-item-link {
    color: var(--white);
}
.social-list {
    display: flex;
    gap: 14px;
}
.social-item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-social {
    margin: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer .social-item-link {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer .icon-social {
    fill: var(--white);
}
.menu-item-link:hover,
.menu-item-link:focus,
.contact-item-link:hover,
.contact-item-link:focus {
    color: var(--accent-cl);
}
.social-item-link:hover,
.social-item-link:focus {
    border: 1px solid rgba(253, 146, 34, 0.1);
}
.social-item-link:hover .icon-social,
.social-item-link:focus .icon-social {
    fill: var(--accent-cl);
}
.section {
    padding-bottom: 120px;
}
.subtitle-white {
    color: var(--white);
    font-weight: 500;
    line-height: 1.29;
}
.btn-style {
    border-radius: 100px;
    background-color: transparent;
    padding: 14px 40px;
    border: 1px solid var(--white);
    color: var(--white);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-style:focus,
.btn-style:hover {
    border-color: var(--accent-cl);
    color: var(--accent-cl);
}
.btn-orange {
    background-color: var(--accent-cl);
    border: none;
}
.btn-orange:focus,
.btn-orange:hover {
    background-color: var(--beige);
    border: none;
}
.header-three {
    color: var(--white);
    font-size: 18px;
}
.p-style {
    color: var(--white);
    line-height: 1.29;
    letter-spacing: -0.02em;
}
/** ---------------------------------------- */

/** ------------HEADER------------ */

/** ---------------------------------------- */

.header-container {
    display: flex;
    align-items: center;
}
.menu-header {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 90px;
}
.nav-list {
    display: flex;
    align-items: center;
}
.logo {
    align-items: center;
    display: flex;
    padding: 24px 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: -0.03em;
}
.logo-italic {
    font-style: italic;
}
.icon-logo {
    margin-left: 4px;
}

/** ---------------------------------------- */

/** ------------HERO-SECTION------------ */

/** ---------------------------------------- */

.hero-section {
    padding-bottom: 80px;
}
.hero-container-wrap {
    background-image: linear-gradient(
            rgba(17, 17, 17, 0.4),
            rgba(17, 17, 17, 0.4)
        ),
        url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
.hero-wrap {
    padding: 381px 40px 40px;
    align-items: baseline;
}
.p-hero {
    max-width: 484px;
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    margin-bottom: 32px;
}
.hero-wrap-btn {
    display: flex;
    align-items: center;
}
.hero-btn-list {
    display: flex;
    gap: 14px;
}
.scroll-link {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto;
}
.text-scroll {
    letter-spacing: -0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-scroll {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background-color: var(--white);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-scroll {
    fill: var(--accent-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.scroll-link:focus .text-scroll,
.scroll-link:hover .text-scroll {
    color: var(--accent-cl);
}
.scroll-link:focus .btn-scroll,
.scroll-link:hover .btn-scroll {
    background-color: var(--accent-cl);
}
.scroll-link:focus .icon-scroll,
.scroll-link:hover .icon-scroll {
    fill: var(--white);
}

/** ---------------------------------------- */

/** ------------ADVANTAGES-SECTION------------ */

/** ---------------------------------------- */

.advantages-section {
    background-color: var(--violet);
    padding: 50px 0;
}
.advantages-list {
    display: flex;
    gap: 88px;
    padding: 0 18px;
}
.advantages-item {
    flex-basis: calc((100% - 176px) / 3);
    position: relative;
}
.advantages-item:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 124px;
    position: absolute;
    right: -44px;
    top: 60px;
    background: rgba(255, 255, 255, 0.5);
}
.icon-advantages-wrap {
    display: flex;
    width: 62px;
    height: 62px;
    justify-content: center;
    align-items: center;
    border-radius: 365px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 22px;
}
.advantages-item .header-three {
    margin-bottom: 18px;
}
.advantages-item .p-style {
    color: rgba(255, 255, 255, 0.7);
}

/** ---------------------------------------- */

/** ------------COMPONENTS-SECTION------------ */

/** ---------------------------------------- */

.components-section {
    padding-top: 120px;
}
.components-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 32px;
}
.components-item {
    flex-basis: calc((100% - 96px) / 4);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 0;
}
.bg-orange {
    background-color: var(--accent-cl);
}
.bg-white {
    background-color: var(--white);
}
.bg-violet {
    background-color: var(--violet);
}
.components-item-wrap {
    padding: 28px 23px;
}
.image-components {
    margin-bottom: 36px;
}
.components-item-wrap .p-style {
    font-weight: 600;
}
.overley-box {
    position: absolute;
    transform: translateY(100%);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--white);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 20px 15px;
    margin: 0;
}
.components-item:hover .overley-box,
.components-item:focus .overley-box {
    transform: translateY(0%);
}
.h-overley {
    color: var(--main-cl);
    margin-bottom: 8px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}
.overley-list {
    display: flex;
    gap: 6px;
    margin-bottom: 14px;
}
.overley-item {
    padding: 6px 16px;
    color: var(--white);
    font-size: 10px;
    line-height: 1.2;
    border-radius: 35px;
    background-color: var(--accent-cl);
}
.bg-white-item {
    color: var(--main-cl);
    background-color: transparent;
    border: 1px solid var(--accent-cl);
}
.p-overley {
    overflow: hidden;
    color: var(--main-cl);
    max-height: 162px;
}
.components-item:nth-child(even) .icon-arrow {
    stroke: var(--accent-cl);
}
.components-item:nth-child(even) .p-style {
    color: var(--main-cl);
}
.components-item:nth-child(even) {
    box-shadow: 0 0 0 1px var(--accent-cl);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.components-item:nth-child(even):hover,
.components-item:nth-child(even):focus {
    box-shadow: none;
}
.icon-arrow {
    position: absolute;
    top: 14px;
    right: 14px;
    fill: transparent;
    stroke: var(--white-2);
}

/** ---------------------------------------- */

/** ------------HOW-MADE-SECTION------------ */

/** ---------------------------------------- */

.how-made-wrap {
    display: flex;
    gap: 20px;
}
.frame-box {
    background-image: url(../images/frame-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    width: 100%;
    min-height: 400px;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.frame-overley {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.play-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-btn-wrap {
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}
.show-video {
    display: block;
}
iframe {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.step-cooking-box {
    padding: 32px;
    background-color: var(--white);
    border-radius: 15px;
}
.p-cooking {
    margin-bottom: 28px;
    max-width: 350px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    width: 100%;
}
.step-cooking-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.step-cooking-item {
    line-height: 1.28;
    letter-spacing: -0.02%;
    position: relative;
    padding-left: 16px;
}
.step-cooking-item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: var(--gray);
    border: 1px solid #eceded;
    border-radius: 50%;
    top: 5px;
    left: 0;
}

/** ---------------------------------------- */

/** ------------OUR-PRODUCT-SECTION------------ */

/** ---------------------------------------- */

.our-product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 18px;
}
.our-product-item {
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: var(--white);
    flex-basis: calc((100% - 54px) / 4);
    padding: 32px 0;
}
.our-product-image {
    margin: 0 auto 8px;
    width: 230px;
    height: 201px;
}
.our-product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.h-our-product {
    font-size: 18px;
    line-height: 1.34;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    margin-bottom: 2px;
}
.p-our-product {
    color: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    margin-bottom: 18px;
}
.btn-our-product {
    padding: 8px 20px;
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: var(--white-2);
}

/** ---------------------------------------- */

/** ------------TOP-SELLERS-SECTION------------ */

/** ---------------------------------------- */

.top-sellers-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}
.top-sellers-item {
    flex-basis: ((100% - 32px) / 3);
}
.top-sellers-box {
    padding: 28px 0;
    border-radius: 0px 0px 15px 15px;
    border-right: 1px solid rgba(17, 17, 17, 0.1);
    border-bottom: 1px solid rgba(17, 17, 17, 0.1);
    border-left: 1px solid rgba(17, 17, 17, 0.1);
    background: var(--white);
}
.h-top-sellers {
    color: var(--main-cl);
    margin-bottom: 0;
    line-height: 1.34;
    letter-spacing: -0.02em;
    text-align: center;
}
.overley-top-sellers-wrap {
    position: relative;
    overflow: hidden;
}
.overley-top-sellers-box {
    position: absolute;
    top: 0;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(
        161deg,
        rgba(253, 253, 255, 0.1) 0%,
        rgba(8, 2, 21, 0) 100%
    );
    backdrop-filter: blur(7.5px);
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overley-top-sellers-box .p-style {
    color: var(--white-2);
}
.top-sellers-item:hover .overley-top-sellers-box {
    transform: translateY(0);
}

/** ---------------------------------------- */

/** ------------REVIEWS-SECTION------------ */

/** ---------------------------------------- */

.h-two-reviews {
    margin-bottom: 92px;
}
.reviews-list {
    display: flex;
    gap: 28px;
    margin-bottom: 50px;
    justify-content: center;
}
.review-item {
    flex-basis: calc((100% - 52px) / 3);
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    background: var(--white);
    box-shadow: 0px 9px 100px 0px rgba(17, 17, 17, 0.03);
    position: relative;
    padding: 0 24px 24px;
}
.image-reviews {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h-reviews {
    margin: 56px 0 24px;
    color: var(--main-cl);
    line-height: 1.34;
    text-align: center;
}
.p-review {
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
}
.btn-reviews {
    display: block;
    padding: 14px 40px;
    color: var(--main-cl);
    font-size: 18px;
    border-radius: 100px;
    box-shadow: 0 0 0 1px var(--accent-cl);
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: transparent;
    border: none;
}
.btn-reviews:hover,
.btn-reviews:focus {
    background-color: var(--accent-cl);
    color: var(--white);
}

/** ---------------------------------------- */

/** ------------FOOTER------------ */

/** ---------------------------------------- */

.footer {
    background-color: var(--violet);
    padding: 50px 0;
}
.footer-top,
.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items: center;
}
.header-footer {
    color: var(--white);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.02em;
    width: 300px;
}
.footer-top-list {
    display: flex;
    gap: 50px;
}
.footer-top-item {
    display: flex;
    gap: 14px;
    flex-direction: column;
}
.social-list {
    display: flex;
    gap: 14px;
}
.contact-list {
    display: flex;
    gap: 4px;
    flex-direction: column;
}
.contact-item-link {
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-bottom {
    padding: 24px 0 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-form {
    display: flex;
    gap: 8px;
}
.footer-email {
    height: 52px;
    padding: 14px 24px;
    border-radius: 30px;
    border: 1.5px solid rgba(255, 255, 255, 0.15);
    background-color: transparent;
    font-size: 18px;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.3);
    width: 313px;
}
.btn-footer {
    padding: 17px 40px;
}

/** ---------------------------------------- */

/** ------------MODAL-WINDOW------------ */

/** ---------------------------------------- */

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 998;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal-window {
    width: 517px;
    position: absolute;
    top: 5%;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 15px;
    background: var(--white-2);
    padding: 40px;
    overflow-y: scroll;
}
.modal-close-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
}
.icon-close {
    stroke: var(--main-cl);
}

/** ---------------------------------------- */

/** ------------MODAL-FORM------------ */

/** ---------------------------------------- */

.h-modal {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.h-modal br {
    display: none;
}
.h-modal .header-accent {
    display: block;
}
.modal-label {
    color: rgba(64, 64, 64, 0.3);
    letter-spacing: -0.02em;
}
.modal-input-box {
    position: relative;
    margin-bottom: 18px;
    margin-top: 8px;
}
.modal-input {
    border-radius: 13px;
    border: 1.5px solid rgba(17, 17, 17, 0.05);
    width: 100%;
    padding: 22px 0 22px 62px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}
.modal-input:focus {
    border: 1.5px solid var(--accent-cl);
}
.modal-input:focus + .icon-input {
    stroke: var(--accent-cl);
}
.icon-input {
    stroke: #404040;
    fill: transparent;
    position: absolute;
    top: 50%;
    left: 24px;
    transform: translateY(-50%);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-input-error {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    fill: #e74a3b;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
}
.modal-input:invalid {
    border-color: #e74a3b;
}
.modal-input:invalid + .icon-input {
    stroke: #e74a3b;
}
.modal-input:invalid + .icon-input + .icon-input-error {
    opacity: 1;
    visibility: visible;
}
.modal-textarea {
    resize: none;
    padding-left: 24px;
    padding-bottom: 93px;
    margin-top: 8px;
    margin-bottom: 18px;
}
.modal-textarea::placeholder {
    color: rgba(64, 64, 64, 0.3);
    font-size: 18px;
    letter-spacing: -0.02em;
}
.privacy-policy {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.label-checkbox {
    color: rgba(64, 64, 64, 0.6);
    letter-spacing: -0.02em;
    display: block;
}
.span-checkbox-icon {
    border-radius: 6px;
    border: 1px solid rgba(17, 17, 17, 0.14);
    width: 20px;
    height: 20px;
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-link {
    text-decoration: underline;
}
.checkbox:checked + .label-checkbox .span-checkbox-icon {
    background-color: var(--accent-cl);
    border: none;
}
.modal-form .modal-textarea {
    padding-left: 18px;
    padding-bottom: 60px;
    margin-top: 4px;
}
.modal-textarea::placeholder {
    font-size: 14px;
}
.privacy-policy {
    margin-bottom: 40px;
}
.label-checkbox {
    font-size: 12px;
}

/** ---------------------------------------- */

/** ------------MENU-FOR-MOBILE------------ */

/** ---------------------------------------- */

.menu-toggle {
    margin-left: auto;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-menu-burger {
    stroke: var(--main-cl);
}
.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}
.menu-close-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
}
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 136px 20px 20px;
    background-color: var(--violet);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-container.is-open {
    transform: translateX(0);
}

/** ---------------------------------------- */

/** ------------ADAPTIVE-FOR-MOBILE-DEVICE------------ */

/** ---------------------------------------- */

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }
    .section {
        padding-bottom: 80px;
    }
    .logo {
        padding: 14px 20px;
    }
    .icon-logo {
        width: 21px;
        height: 21px;
    }
    .menu-header {
        display: none;
    }
    .menu-toggle {
        display: flex;
    }
    .icon-close-menu {
        stroke: var(--white);
        transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .menu-list {
        flex-direction: column;
        gap: 24px;
        margin: 0 auto;
    }
    .menu-item-link {
        color: white;
        padding: 0;
    }
    .menu-close-btn:hover .icon-close-menu,
    .menu-close-btn:focus .icon-close-menu {
        stroke: var(--accent-cl);
    }
    .menu-container .social-list {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
    .menu-container .social-item-link {
        border: 1px solid rgba(255, 255, 255, 0.1);
    }
    .menu-container .icon-social {
        fill: var(--white);
    }
    .hero-wrap {
        padding-right: 20px;
        padding-left: 20px;
    }
    .p-hero {
        font-size: 20px;
    }
    .p-hero br {
        display: none;
    }
    .btn-style {
        padding: 12px 28px;
        white-space: nowrap;
    }
    .hero-wrap-btn {
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }
    .scroll-link {
        margin: 0;
    }
    .advantages-section {
        padding: 20px 0;
    }
    .advantages-list {
        flex-direction: column;
        gap: 38px;
    }
    .advantages-item {
        flex-basis: 100%;
    }
    .components-section {
        padding-top: 80px;
    }
    .header-two {
        max-width: 283px;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 32px;
    }
    .components-list {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .components-item:nth-last-child(-n + 3) {
        display: none;
    }
    .components-item {
        width: 100%;
        max-width: 335px;
    }
    .frame-box {
        min-height: 500px;
    }
    .step-cooking-box {
        padding: 20px 14px;
    }
    .p-cooking {
        width: 100%;
        margin-bottom: 20px;
    }
    .our-product-list {
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }
    .our-product-item {
        width: 100%;
        max-width: 336px;
        flex-basis: 100%;
        padding: 32px 0;
    }
    .top-sellers-item:not(:first-child) {
        display: none;
    }
    .top-sellers-item {
        flex-basis: 100%;
        max-width: 336px;
    }
    .h-two-reviews {
        margin-bottom: 74px;
    }
    .reviews-list {
        margin-bottom: 32px;
    }
    .review-item:not(:first-child) {
        display: none;
    }
    .review-item {
        flex-basis: 100%;
        max-width: 336px;
    }
    .btn-reviews {
        padding: 12px 24px;
        font-size: 14px;
    }
    .modal-window {
        width: 314px;
        height: 622px;
        padding: 32px 24px;
    }
    .h-modal {
        font-size: 20px;
        width: 255px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.03em;
        margin-bottom: 32px;
    }
    .h-modal br {
        display: block;
    }
    .h-modal .header-accent {
        display: inline;
    }
    .modal-close-btn {
        top: 14px;
        right: 14px;
    }
    .icon-close {
        width: 24px;
        height: 24px;
    }
    .modal-input-box {
        margin-bottom: 14px;
        margin-top: 4px;
    }
    .modal-input {
        padding: 14px 43px;
        border-radius: 8px;
    }
    .icon-input {
        left: 18px;
        width: 18px;
        height: 18px;
    }
    .icon-input-error {
        right: 18px;
        width: 18px;
        height: 18px;
    }
    .privacy-policy {
        margin-bottom: 32px;
    }
    .privacy-policy-link {
        margin-left: 32px;
        display: block;
    }
    .footer {
        padding: 0;
    }
    .footer-top,
    .footer-bottom {
        flex-direction: column;
        padding-top: 32px;
        padding-bottom: 32px;
        align-items: flex-start;
    }
    .footer-top-list {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
    }
    .header-footer {
        margin-bottom: 32px;
        font-size: 24px;
    }
    .footer .menu-list {
        gap: 18px;
        margin-bottom: 32px;
    }
    .footer-email {
        height: 48px;
        max-width: 207px;
        padding: 14px 18px;
        font-size: 14px;
    }
    .btn-footer {
        padding: 14px 26px;
        width: 120px;
    }
}

/** ---------------------------------------- */

/** ------------ADAPTIVE-FOR-TABLET------------ */

/** ---------------------------------------- */

@media (min-width: 768px) and (max-width: 1199px) {
    .section {
        padding-bottom: 100px;
    }
    .menu-header {
        gap: 28px;
    }
    .hero-section {
        padding-bottom: 40px;
    }
    .advantages-list {
        flex-wrap: wrap;
        gap: 44px 88px;
    }
    .advantages-item {
        flex-basis: calc((100% - 88px) / 2);
    }
    .components-section {
        padding-top: 100px;
    }
    .our-product-list,
    .components-list {
        gap: 32px 32px;
        align-items: center;
        margin: 0 auto;
        max-width: 704px;
    }
    .our-product-item,
    .components-item {
        flex-basis: calc((100% - 32px) / 2);
    }
    .reviews-list {
        gap: 16px;
        max-width: 704px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .review-item {
        flex-basis: calc((100% - 16px) / 2);
    }
    .top-sellers-item:last-child,
    .review-item:last-child {
        display: none;
    }
    .footer-email {
        width: 233px;
        height: 48px;
    }
    .menu-list {
        gap: 16px;
    }
    .btn-footer {
        padding: 14px 28px;
    }
}

/** ---------------------------------------- */

/** ------------ADAPTIVE-COMPONENTS-STYLE------------- */

/** ---------------------------------------- */

@media (max-width: 388px) {
    .p-hero {
        font-size: 18px;
    }
    .btn-style {
        padding: 12px 16px;
        white-space: nowrap;
    }
    .footer-form {
        flex-direction: column;
    }
}

@media (max-width: 1199px) {
    .logo {
        font-size: 14px;
        line-height: 1.29px;
    }
    .advantages-item::after {
        display: none;
    }
    .how-made-wrap {
        flex-direction: column;
    }
    .footer-email {
        font-size: 14px;
        letter-spacing: -0.02em;
    }
}
@media (min-resolution: 192dpi) {
    .hero-container-wrap {
        background-image: linear-gradient(
                rgba(17, 17, 17, 0.4),
                rgba(17, 17, 17, 0.4)
            ),
            url(../images/hero-bg@2x.png);
    }
    .frame-box {
        background-image: url(../images/frame-bg@2x.jpg);
    }
}
